TestTryCatch/x64/Debug/std_except.obj
TestTryCatch/x64/Debug/rawp.obj
TestTryCatch/x64/Debug/main.obj
TestTryCatch/x64/Debug/init_exept.obj
.vs/TestTryCatch/v16/ipch/AutoPCH/8a44fa48217190e1/EXCEPT1.ipch
.vs/TestTryCatch/v16/Browse.VC.opendb
.vs/TestTryCatch/v16/Browse.VC.db
.vs/TestTryCatch/v16/.suo
TestTryCatch/x64/Debug/clean_up.obj
TestTryCatch/x64/Debug/base_except.obj
TestTryCatch/x64/Debug/TestTryCatch.tlog/link.write.1.tlog
TestTryCatch/x64/Debug/TestTryCatch.tlog/link.read.1.tlog
x64/Debug/TestTryCatch.pdb
x64/Debug/TestTryCatch.ilk
x64/Debug/TestTryCatch.exe
TestTryCatch/x64/Debug/wrapped.obj
TestTryCatch/x64/Debug/TestTryCatch.tlog/link.command.1.tlog
TestTryCatch/x64/Debug/TestTryCatch.tlog/TestTryCatch.lastbuildstate
TestTryCatch/x64/Debug/TestTryCatch.tlog/CL.write.1.tlog
TestTryCatch/x64/Debug/TestTryCatch.tlog/CL.read.1.tlog
TestTryCatch/x64/Debug/vc142.pdb
TestTryCatch/x64/Debug/vc142.idb
TestTryCatch/x64/Debug/test_base_class.obj
TestTryCatch/x64/Debug/termanator.obj
TestTryCatch/x64/Debug/TestTryCatch.tlog/CL.command.1.tlog
TestTryCatch/x64/Debug/TestTryCatch.log
TestTryCatch/x64/Debug/Except1.obj
.vs/TestTryCatch/v16/ipch/AutoPCH/e975e066e849d834/MAIN.ipch
.vs/*